body,
html {
    background-image: url('images/stripe.png') !important;
}
header,
#footer-sidebar {
    display:none;
}
.site-info {
    max-width:1050px;
    margin:0 auto;
}
.entry-title,
.page-title {
    display:none;
}
.entry-content {
    margin:0;
}
#hdr-img {
    height: 13.125em;
    background-image: url('images/bordervect4.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    margin:0 auto;
}
#p-title h1 {
    font-family:"Sacramento";
    margin:0 auto;
    color:#e6e6e6;
    font-size:3.2em;
    padding-top:1.40em;
    
}
#p-title {
    margin:0;
    background-color: #e6e6e6;
    text-align:center;
    height: 6.688em;
    color:#e6e6e6;
}
#sect-top {
    display: inline-block;
    width: 100%;
    padding: 5.0em 0 2.5em 0;
    border-bottom: 1px solid #cccccc;
    height: auto;
}
#sect-bot {
    display: block;
    width: 78%;
    padding: 0 0 40px 0;
    height: auto;
    margin: -15px auto 0 auto;
    clear: both;
    overflow: auto;
}
#sect-titl {
    margin:0;
    font-family:"Poiret One";
}
#sect-p {
    font-size:1.250em;
    font-family:"Open Sans Condensed";
    margin:0;
}
#p-primary {
    
}
#p-fixed {
   
}
.p-content-area {
    
}
.p-content {
   
}
.box-left {
    display:block;
    float:left;
    width:40%;
    height:11.250em;
    margin: 10px 0;
    clear:left;
    padding-right:2%;
    padding-left:8%;
}
.box-right {
    display:block;
    float:right;
    width:40%;
    height:11.250em;
    margin: 10px 0;
    clear:right;
    padding-right:5%;
    padding-left:5%;
}
.item-list {
    display:inline-block;
    font-family:"Open Sans Condensed";
    font-size:1.875em;
    list-style:none;
    float:left;
    width:36%;
    margin:0 auto;
    padding-left:8%;
    line-height:90%;
    height:11.250em;
}
.h-bar {
    display: block;
    height: 65%;
    width: 1px;
    margin: 5% 60% auto 40% !important;
    border-right: 1px solid #cccccc;
    float: none;
}
.price {
    font-family:"Open Sans Condensed";
    font-size:3.250em;
    float:right;
    width:37%;
    padding-right:19%;
    font-weight:bolder;
    margin:0;
    line-height: 100%;
    padding-left:0;
    text-align:center;
    height:11.250em;
    padding-top:7%;
    clear:right;
}
.dol {
    color:#8da8c3;
}
.pl-title {
    color:#686262;
    font-weight:bold;
}
#offer {
    text-align:center;
    width:100%;
    clear:both;
    font-weight:bold;
    font-size:1.600em;
    color: #e6e6e6;
    display:block;
    padding: 15px 0 20px 0;
    font-family:"Open Sans Condensed";
    background-image: url('images/ribbonvect2.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}
.prl-coll {
    display:block;
    font-family:"Open Sans Condensed";
    width:45%;
    float:left;
}

.prl-colr {
    display:block;
    font-family:"Open Sans Condensed";
    width:45%;
    float:right;
    padding-left:10%;
}
#col-head {
    clear:both;
    width:100%;
    text-align:center;
    font-family:"Poiret One";
}

.site-info {
    background-color:#e6e6e6;
    font-size: 1.0em;
}

@media only screen and (max-width: 1024px) {
     body {
      font-size: 95%;
    }
    #hdr-img {
      background-size:34.25em;
    }
}

@media only screen and (max-width: 480px) {
    body {
      font-size: 90%;
    }
    #hdr-img {
      background-size:31.25em;
    }
    #offer {
      background-size:100%;
    }
    
    #p-title h1 {
      /*padding-top:3.0em;*/
    }
    .box-left {
        padding-left: 2%;
        width: 42%;
    }
    .box-right {
        width: 42%;
    }
    .h-bar {
        margin: 5% 50% auto 47% !important;
    }
    .price {
        width: 49%;
        padding-right: 0;
        padding-left: 0;
    }
    .item-list {
        width: 49%;
        padding-left: 0;
    }
    #sect-bot {
        display: block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; 
    }
    #sect-titl {
        font-size: 1.5em;
    }
    .prl-colr {
        width: 47%;
        padding-right: 4%;
        padding-left:0;
    }
}